@charset "UTF-8";

/* ヘッダー全体 */
header{
    height:80px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding: 30px 50px 30px 20px;

    background:#ffffff;

    border-bottom:1px solid #f5dce4;

    box-sizing:border-box;
}

/* ロゴエリア */
.logo-area{
    display:flex;
    align-items:center;
}

/* ロゴ画像 */
.logo-image{
    height:90px;
    rgb(255, 228, 225)uto;

    display:block;
}

/* ママ・パパ表示 */
.user-area{
    font-size:28px;
    color:#555555;

    display:flex;
    align-items:center;

    gap:10px;
}



body{
	margin:0 0 0 0;
    background-color: #FFE4E1;
}

main{
    margin-top: 120px;
    margin-bottom: 170px;
}

/* アイコン配列 */
.row{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-bottom:30px;
}

img {
    width: 200px;
    height: 200px;
}

/* 背景色 */
.mama{
    background-color:#fff0f4;
}
.papa{
    background-color:#F0F8FF;
}

/*ポップアップ */
.popup-modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.3);
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.popup-content{
    width:450px;
    background:white;
    border-radius:20px;
    padding:30px;
    text-align:center;
    box-shadow:0 4px 15px rgba(0,0,0,0.2);
}

/* ママ用ポップアップ */
.mama-popup .popup-content{
    background:#fff8fa;
    border:2px solid #ffd6e0;
    border-radius:24px;
    padding:30px;
    max-width:450px;
    text-align:center;
}

.mama-popup h3{
    color:#ff7ea8;
    font-size:20px;
}

.mama-popup button{
    background:#ff9fbe;
    color:white;
    border:none;
    border-radius:30px;
    padding:8px 20px;
    margin-top:20px;
}

/* パパ用ポップアップ */
.papa-popup .popup-content{
    background:#f5fcff;
    border:2px solid #bfefff;
    border-radius:24px;
    padding:30px;
    max-width:450px;
    text-align:center;
}

.papa-popup h3{
    color:#BAD3FF;
    font-size:20px;
}

.papa-popup button{
    background:#BAD3FF;
    color:white;
    border:none;
    border-radius:30px;
    padding:8px 20px;
    margin-top:20px;
}



/* ヘッダー全体 */
header{
    height:120px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding: 30px 50px 30px 20px;

    background:#ffffff;

    border-bottom:1px solid #ffffff;

    box-sizing:border-box;
}

/* ロゴエリア */
.logo-area{
    display:flex;
    align-items:center;
}

/* ロゴ画像 */
.logo-image{
    height:140px;
    width:auto;

    display:block;
}




/* フッター　*/
.footer{
    margin-top:60px;
    padding:30px 0;
    text-align:center;
    background:#ffffff;
    border-top:1px solid #ffffff;
}

.footer-title{
    margin:0;
    color:#ff6f9d;
    font-size:20px;
    font-weight:bold;
    letter-spacing:1px;
}

.copyright{
    margin-top:10px;
    color:#aaaaaa;
    font-size:12px;
}
